.card{
  width: 30%;
    margin: 1% 1%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}
.image{
  width: 100%;
  padding: 0% auto;
  align-items: center;
  justify-content: center;
  display: flex;
}
.image img{
  width: 100%;
    margin: 0% 0%;
    /* padding: 2% 0%; */
    border: 2px solid;
    border-radius: 5px;
}
.container{
  text-align: center;
  margin: auto;
}
.newscards_in_app{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.read_more{
  color: blue;
    display: flex;
    justify-content: flex-end;
}
.btn_box{
  display: flex;
    justify-content: space-between;
    margin: 2% 1%;
}
.previous,.Next{
  width: 6%;
  height: 34px;
  border: 2px solid black;
  border-radius: 5px;
}
.time{
  margin: 1%;
  
}

@media only screen and (max-width: 1000px) {
  .card{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .mid{
    height: 65vh;
  }
  .logo {
    width: 100%;
}
}
@media only screen and (max-width: 1000px) and (min-width:500px) {
  .card{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

}